.dropdown {
  display: flex;
  justify-content: flex-start;
  margin: 3vw;
}

.dropdown-buttons {
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  padding-top: 2vw;
}
